:root { 
  --eerie-black: #191b1f;
  --quick-silver: #a7a7a7;
  --shark: #212429;
  --white: #ffffff;
 
  --font-size-l: 25px;
  --font-size-m: 20px;
 
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}
